/* override fonts */
@import "override_fonts.css";

/* override colors */
@import "override_colors.css";

/* CSS styles */

/* Body & Co. */
body, p, small, input, a, span, ul, li {
    font-family: 'FF_DIN_Regular' !important;
    font-size: 16px;
    color: #565651 !important;
}

body {
    background-color: #f5f1e5 !important;
}

h1, h2, h3, h4, h5, h6, h7 label {
    font-family: 'FF_DIN_Medium' !important;
    color: #565651 !important;
}

.container p a {
  color: #85b719 !important;
}

.hr {
    margin: 50px 0 !important;
}

/* Lists */

.w4pl ul {
    list-style: none;
}

.w4pl ul li {
    margin-bottom: 36px;
}

.w4pl ul li a {
    font-family: 'FF_DIN_Medium' !important;
}
.w4pl ul li .post_title {
    font-family: 'FF_DIN_Medium' !important;
    text-transform: uppercase;
}

/* Header Teaser */
header {
    background-color: #f5f1e5 !important;
}

.zoom-icon:after,
.posts-grid.posts-home li .thumbnail .thumb-desc:after {
    background-color: #d4af37 !important;
}

.posts-grid.posts-home li {
    width: 24% !important;
    min-height: 620px;
    margin-left: 2px !important;
}

@media only screen and (max-width: 558px) {
    .posts-grid.posts-home li {
        width: 100% !important;
    }
}

.posts-home div.desc {
    min-height: 270px !important;
}

.post_category {
    display: none !important;
}

/* Forms */

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"] {
    width: 50%;
    background-color: #fbfbfb !important;
}

@media only screen and (max-width: 767px) {
    .wpcf7-form input[type="text"],
    .wpcf7-form input[type="email"] {
        width: 100%;
    }
}

.wpcf7-form textarea {
    background-color: #fbfbfb !important;
}

/* Footer */

footer img {
    width: 270px;
}

.footer-widgets [data-motopress-sidebar-id="footer-sidebar-2"] {
    float: right;
}

.footer-widgets {
  float: right;
  border-top: 0px !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 50%;
}

@media only screen and (max-width: 767px) {

  .footer-widgets {
    float: left;
    clear: both;
    border-top: 0px !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
  }

  .footer-widgets [data-motopress-sidebar-id="footer-sidebar-1"],
  .footer-widgets [data-motopress-type="static"] {
      display: none;
  }
}

div.copyright {
  float: left;
  width: 50%;
}

/* Slider */
.parallax-slider #mainCaptionHolder .primaryCaption,
.parallax-slider #mainCaptionHolder .secondaryCaption {
  width: auto !important;
}

/* Miscellaneous */

.content_box {
    background-color: #f3e6c7 !important;
}

.nocomments {
    display: none;
}

.portfolio .pager {
    display: none;
}

.services .desc h5 a,
.services .desc p.excerpt {
    color: #fff !important;
}

.service-box .service-box_body .title a {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 21px;
    line-height: 1.2em;
    font-family: "FF_DIN_Medium", sans-serif !important;
    color: #222;
    text-transform: none;
}

select {
  border: 2px solid rgb(219, 219, 219);
  background-color: #fbfbfb;
  font-family: 'FF_DIN_Regular';
  font-size: 18px;
  color: #898989;
  width: 280px;
}

#blog-list ul {
  margin-left: 5px;
}

.primaryCaption {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 24px;
}

.nav-wrap {
    background-color: #f5f1e5 !important;
}

.select-menu {
    background-color: #f3e6c7 !important;
}

.social_label {
    color: #565651 !important;
}

.network-icon {
    color: #fff !important;
}

.icon-facebook, .icon-twitter {
    color: #fff !important;
}