/* override fonts */
@import "override_fonts.css";

/* override colors */
@import "override_colors.css";

/* CSS styles */

body, p, small, input, a, span, ul, li {
    font-family: 'FF_DIN_Regular' !important;
    font-size: 16px;
    color: #565651 !important;
}

h1, h2, h3, h4, h5, h6, h7 label {
    font-family: 'FF_DIN_Medium' !important;
    color: #565651 !important;
}

.zoom-icon:after,
.posts-grid.posts-home li .thumbnail .thumb-desc:after {
    background-color: #d4af37 !important;
}

.posts-grid.posts-home li {
    width: 33% !important;
}

.post_category {
    display: none !important;
}

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"] {
    width: 50%;
    background-color: #fbfbfb !important;
}

@media only screen and (max-width: 767px) {
    .wpcf7-form input[type="text"],
    .wpcf7-form input[type="email"] {
        width: 100%;
    }
}

.wpcf7-form textarea {
    background-color: #fbfbfb !important;
}

footer img {
    width: 270px;
}

.nocomments {
    display: none;
}

.portfolio .pager {
    display: none;
}

.footer-widgets [data-motopress-sidebar-id="footer-sidebar-2"] {
    float: right;
}

.posts-home div.desc {
    min-height: 270px !important;
}

.hr {
    margin: 50px 0 !important;
}

.services .desc h5 a,
.services .desc p.excerpt {
    color: #fff !important;
}